.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.login-box {
    display: flex;
    width: 904px;
    height: 524px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.left {
    flex: 1;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right {
    flex: 1;
    background-color: #e0e0e0; /* 변경하고자 하는 색상을 설정 */
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
}

.right img {
    width: 110%;
    height: 100%;
    object-fit: contain; /* 이미지의 비율을 유지하면서 컨테이너에 맞게 조절 */
    background-color: #fff; /*이미지의 빈 공간에 배경색을 지정할 수 있음*/
    
}

.left h1 {
    margin-bottom: 8px;
}

.left p {
    margin-bottom: 20px;
}

.input-group {
    width: 100%;
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.forgot-password {
    display: block;
    margin-bottom: 20px;
    color: #888;
    text-decoration: none;
}

.login-button {
    width: 106%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #0056b3;
}